<!DOCTYPE html>
<html>
    <head>
        <title>Accueil</title>
    </head>
    <body>
        <h1>Gestion des Salles Informatiques</h1>
        <p><i>Page visitée {{ nbreFois }} fois.</i></p>
    </body>
</html>